<!DOCTYPE HTML>
<!--
	Linear by TEMPLATED
    templated.co @templatedco
    Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
--><html><head><title>WERKEN Agencia de Marketing y Comunicación</title><meta http-equiv="content-type" content="text/html; charset=utf-8"><meta name="description" content=""><meta name="keywords" content=""><meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1"><link href="//fonts.googleapis.com/css?family=Roboto:400,100,300,700,500,900" rel="stylesheet" type="text/css"><script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script><script src="js/skel.min.js"></script><script src="js/skel-panels.min.js"></script><script src="js/init.js"></script><noscript>
			<link rel="stylesheet" href="css/skel-noscript.css"><link rel="stylesheet" href="css/style.css"><link rel="stylesheet" href="css/style-desktop.css"></noscript></head><body class="homepage">

	<!-- Header -->
		<div id="header">
			<div id="nav-wrapper"> 
				<!-- Nav -->
				<nav id="nav"><ul><li class="active"><a href="index.html">Homepage</a></li>
						<li><a href="left-sidebar.html">Left Sidebar</a></li>
						<li><a href="right-sidebar.html">Right Sidebar</a></li>
						<li><a href="no-sidebar.html">No Sidebar</a></li>
					</ul></nav></div>
			<div class="container"> 
				
				<!-- Logo -->
				<div id="logo">
					<h1><a href="#">Que tu mensaje llegue</a></h1>
					<span class="tag">Somos una agencia de marketing y comunicación.
						Creamos estrategias para mejorar la presencia digital de tu marca.</span>
				</div>
			</div>
		</div>

	<!-- Featured -->
		<div id="featured">
			<div class="container">
				<p>Te ayudamos a humanizar tu marca, a conectar emocionalmente con tu audiencia
					y llegar a nuevos públicos. Empezamos por escucharte para conocer a fondo tu 
					proyecto y diseñar una estrategia con foco en lo que lo hace único, con el objetivo
					de mejorar su visibilidad .</p>
	
				<header><h2>Servicios</h2>
				<hr><div class="row">
					<section class="4u"><span class="pennant"><span class="fa fa-briefcase"></span></span>
						<h3>Social Media Content</h3>		
					</section><section class="4u"><span class="pennant"><span class="fa fa-lock"></span></span>
						<h3>Publicidad</h3>
					</section><section class="4u"><span class="pennant"><span class="fa fa-globe"></span></span>
						<h3>Diseño</h3>
					</section></div>
				     <div class="row">
					<section class="4u"><span class="pennant"><span class="fa fa-briefcase"></span></span>
						<h3>Social Media Content</h3>		
					</section><section class="4u"><span class="pennant"><span class="fa fa-lock"></span></span>
						<h3>Publicidad</h3>
					</section><section class="4u"><span class="pennant"><span class="fa fa-globe"></span></span>
						<h3>Diseño</h3>
					</section></div>
			</div>
		</div>

	<!-- Main -->
		<div id="main">
			<div id="content" class="container">
                           <header><h2>Quiénes somos</h2>
				<div class="row">
					<section class="6u"><a href="#" class="image full"><img src="images/pic01.jpg" alt="" width="574" height="200"></a>
						<header><h2>Julieta Erdozain Hoffman</h2>
						</header><p>Lead Marketing</p>
					</section><section class="6u"><a href="#" class="image full"><img src="images/pic02.jpg" alt="" width="574" height="200"></a>
						<header><h2>Belén Ruiz Jelenic</h2>
						</header><p>Lead Content.</p>
					</section></div>
			</div>
		</div>

	<!-- Tweet -->
		<div id="tweet">
			<div class="container">
				<section><blockquote>Hay mil formas de comunicar. Encontramos la tuya.</blockquote>
				</section></div>
		</div>

	<!-- Footer -->
		<div id="footer">
			<div class="container">
				<section><header><h2>Contáctanos</h2>
						<span class="byline">werkenagencyœgmail.com (+34) 627907956</span> Barcelona
					</header><ul class="contact"><li><a href="#" class="fa fa-twitter"><span>Twitter</span></a></li>
						<li class="active"><a href="#" class="fa fa-facebook"><span>Facebook</span></a></li>
						<li><a href="#" class="fa fa-dribbble"><span>Pinterest</span></a></li>
						<li><a href="#" class="fa fa-tumblr"><span>Google+</span></a></li>
					</ul></section></div>
		</div>

	<!-- Copyright -->
	<div class="copyright">
		Design by: <a href="https://templated.co/">TEMPLATED.CO</a>
	</div>

	</body></html>
