<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

    <meta property="og:title" content="werken">
    <meta property="og:description" content="Agencia de comunicación y marketing">
    <meta property="og:image" content="https://werkenagencia.com/template/final/assets/images/meta.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://werkenagencia.com/">
    <meta property="og:type" content="website">

    <title>Werken Comunicación</title>
    <link rel="icon" href="https://www.werkenagencia.com/favicon.png" type="image/png">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/images/logo.png" alt="werken" class="logo" />
                </div>
            </div>
        </div>
    </header>

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>QUE TU MENSAJE LLEGUE</h1>
                        <p>Marketing y comunicación con estrategias creativas.</p>
                <!--        <img src="assets/images/mar1.png" alt="Imagen 1" class="parallax-img one">
                        <img src="assets/images/mar2.jpg" alt="Imagen 2" class="parallax-img two">
                        <img src="assets/images/mar3.jpg" alt="Imagen 3" class="parallax-img three"> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Welcome Area End ***** -->

<!--    <section class="section intro">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <p class="intro-text">
                        Somos una agencia de comunicación y marketing.<br>
                        Mejoramos tu presencia digital con estrategias creativas.
                    </p>
                </div>        
            </div>
        </div>
    </section> -->
     
     <!-- ***** Visión Section Start ***** -->
     <section class="section vision">
        <div class="vision-container">
            <div class="vision-box">
                <h3 class="vision-title">LLEGAR A LAS PERSONAS CON CAMPAÑAS BIEN PENSADAS</h3>
                <p class="vision-text">
                    Combinamos contenidos creativos con las mejores habilidades técnicas.
                    Nos aseguramos de sacar el máximo provecho de tus campañas en redes sociales y medios digitales.
                    Ha cambiado la forma en que nos comunicamos con las audiencias.
                    Nuestra pasión es crear estrategias que inspiren y conecten.
                    Cada proyecto tiene su alma propia. Trabajamos con atención en cada detalle.
                    Creemos en que una historia bien contada en el momento justo, hace la diferencia.
                </p>
            </div>
        </div>
    </section>
    <!-- ***** Visión Section End ***** -->

    <div class="marquee-container">
        <div class="marquee-wrapper">
          <div class="marquee-text">
            DE BARCELONA AL MUNDO <span class="linea"></span> DE BARCELONA AL MUNDO <span class="linea"></span> DE BARCELONA AL MUNDO <span class="linea"></span>
          </div>
          <div class="marquee-text">
            DE BARCELONA AL MUNDO <span class="linea"></span> DE BARCELONA AL MUNDO <span class="linea"></span> DE BARCELONA AL MUNDO <span class="linea"></span>
          </div>
        </div>
      </div>

    <!-- ***** Services Area Start ***** -->
    <section class="section services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>QUÉ HACEMOS</h3>
                </div>
                <div class="col-md-12">
                    <ul class="services-list row">
                        <li class="col-md-3">
                            <h4>Social media</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Planificación</li>
                                    <li>Publicación</li>
                                    <li>Interacción</li>
                                </ul>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <h4>Publicidad</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Social Media Ads</li>
                                    <li>Google Ads (SEM)</li>
                                    <li>Métricas</li>
                                </ul>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <h4>Branding</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Identidad</li>
                                    <li>Brand Book</li>
                                    <li>Logo</li>
                                </ul>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <h4>Diseño</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Audiovisual</li>
                                    <li>Imágenes</li>
                                    <li>Website</li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Services Area End ***** -->

    <div class="separador"></div>
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <!-- Fila para el Copyright -->
            <div class="row">
                <div class="col-12 text-center">
                    <p class="copyright"><b>Contacto</b><br>+34 627 90 79 56<br>hola@werkenagencia.com</p>
                </div>
            </div>
            <!-- Fila para los otros elementos -->
            <div class="row d-flex justify-content-between align-items-end">
                <div class="col-6 text-left">
                    <p class="left">&copy; 2025 WERKEN<br>BARCELONA</p>
                </div>
                <div class="col-6 text-right">
                    <p class="right">
                        <a href="https://www.instagram.com/werkenagencia" target="_blank">INSTAGRAM</a><br>
                        <a href="https://www.linkedin.com/company/werkenagencia" target="_blank">LINKEDIN</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <!-- ***** Footer End ***** --> 

    <script>
        window.addEventListener('scroll', function() {
          const scrollPosition = window.pageYOffset;
          const welcomeArea = document.querySelector('.welcome-area');
          
          // Ajusta el valor del desplazamiento para cambiar la velocidad del parallax
          welcomeArea.style.backgroundPosition = 'center ' + (scrollPosition * 0.3) + 'px';
        });
      </script>      

    <!-- ***** Scripts Originales ***** -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/parallax.js"></script>
</body>

</html>