<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

    <meta property="og:title" content="werken">
    <meta property="og:description" content="Agencia de comunicación y marketing">
    <meta property="og:image" content="https://werkenagencia.com/template/final/assets/images/meta.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://werkenagencia.com/">
    <meta property="og:type" content="website">

    <title>Werken Comunicación</title>
    <link rel="icon" href="https://www.werkenagencia.com/favicon.png" type="image/png">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="#" class="logo">
                            <img src="assets/images/logo.png" alt="werken" />
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>QUE TU<br>MENSAJE<br>LLEGUE</h1>
                        <p>Agencia de comunicación<br>y marketing creadora de<br>estrategias creativas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Welcome Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <section class="section services">
        <h2 class="services-title">SERVICIOS PERSONALIZADOS✲<br>PARA ELEVAR TU MARCA/</h2>
        <div class="service">
          <span class="service-name">Social Media</span>
          <span class="service-description">Planificación, Contenido, Publicación</span>
        </div>
        <div class="service">
          <span class="service-name">Branding</span>
          <span class="service-description">Identidad, Estrategia, Conceptos</span>
        </div>
        <div class="service">
          <span class="service-name">Diseño</span>
          <span class="service-description">Website, Imágenes, Audiovisual</span>
        </div>
        <div class="service">
          <span class="service-name">Publicidad</span>
          <span class="service-description">Meta, Google Ads (SEM), Métricas</span>
        </div>
      </section> 
    
    <!-- ***** Services Area End ***** -->

    <!-- ***** Visión Section Start ***** -->
    <section class="section vision">
    <div class="vision-container">
        <h3 class="vision-title">En werken✲<br>creemos que/</h3>
           <div class="vision-box">
            <p class="vision-text">
                Cada palabra que eliges construye tu identidad de marca.<br>
                <br>
                No todos tus mensajes son para todas las audiencias.<br>
                <br>
                Una estrategia creativa y coherente lo es todo.
            </p>
        </div> 
    </div>
</section>
<!-- ***** Visión Section End ***** -->

    <!-- ***** Features Section Start ***** -->
<!--    <section class="section padding-top-70 padding-bottom-0" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 align-self-center mobile-top-fix">
                    <div class="left-text">
                        <p>Somos un equipo de profesionales de distintas áreas con más de 15 años de experiencia en
                            pensar estrategias de comunicación exitosas. Estamos en constante capacitación y
                            actualización de tendencias.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Features Section End ***** -->

    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <!-- Fila para el Copyright -->
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="vision-title">CONTACTO</h3>
                    <p class="copyright">+34 627 90 79 56<br>hola@werkenagencia.com</p>
                </div>
            </div>
            <!-- Fila para los otros elementos -->
            <div class="row d-flex justify-content-between align-items-end">
                <div class="col-6 text-left">
                    <p class="left">&copy; 2025 WERKEN<br>BARCELONA</p>
                </div>
                <div class="col-6 text-right">
                    <p class="right">
                        <a href="https://www.instagram.com/werkenagencia" target="_blank">INSTAGRAM<br>
                        <a href="https://www.linkedin.com/company/werkenagencia" target="_blank">LINKEDIN</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <!-- ***** Footer End ***** --> 


    <!-- ***** Scripts Originales ***** -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/parallax.js"></script>
</body>

</html>