<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap" rel="stylesheet">

    <meta property="og:title" content="werken">
    <meta property="og:description" content="Agencia de comunicación y marketing">
    <meta property="og:image" content="https://werkenagencia.com/template/final/assets/images/meta.png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:url" content="https://werkenagencia.com/">
    <meta property="og:type" content="website">

    <title>Werken Comunicación</title>
    <link rel="icon" href="https://www.werkenagencia.com/favicon.png" type="image/png">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">
</head>

<body>
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img src="assets/images/logo.png" alt="werken" class="logo" />
                </div>
            </div>
        </div>
    </header>

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h1>QUE TU MENSAJE LLEGUE</h1>
                        <p>Somos una agencia de marketing y comunicación. Mejoramos tu presencia digital con estrategias creativas.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Welcome Area End ***** -->
     
     <!-- ***** Visión Section Start ***** -->
     <section class="section vision">
        <div class="vision-container">
            <div class="vision-box">
            <!--    <h3 class="vision-title">INSPIRACIÓN</h3> -->
                <p class="vision-text">
                    Diseñamos estrategias personalizadas para que tu marca
                    <span class="dynamic-text"></span> 
                </p>
            </div>
        </div>
    </section>
    <!-- ***** Visión Section End ***** -->

 <!--    <div class="marquee-container">
        <div class="marquee-wrapper">
          <div class="marquee-text">
            WERKEN <span class="linea"></span> COMUNICACIÓN <span class="linea"></span> MARKETING <span class="linea"></span>
          </div>
          <div class="marquee-text">
            BUENAS HISTORIAS <span class="linea"></span> MENSAJES CREATIVOS <span class="linea"></span> ESTRATEGIA <span class="linea"></span>
          </div>
        </div>
      </div> -->

    <!-- ***** Services Area Start ***** -->
    <section class="section services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>QUÉ HACEMOS</h3>
                </div>
                <div class="col-md-12">
                    <ul class="services-list row">
                        <li class="col-md-3">
                            <h4>SOCIAL MEDIA</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Gestión de redes</li>
                                    <li>Creación de contenido</li>
                                    <li>Estrategia digital</li>
                                    <li>Reportes y métricas</li>
                                    <li>Community management</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <button class="popup-btn" data-popup="socialmedia">Ver más</button>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <h4>PUBLICIDAD</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Social Media Ads</li>
                                    <li>Google Ads (SEM)</li>
                                    <li>Optimización de campañas</li>
                                    <li>Análisis de métricas</li>
                                    <li>Seguimiento de KPIs</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <button class="popup-btn" data-popup="publicidad">Ver más</button>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <h4>DISEÑO</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Piezas gráficas</li>
                                    <li>Edición de Reels</li>
                                    <li>Diseño web</li>
                                    <li>Identidad visual</li>
                                    <li>Brand Book</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <button class="popup-btn" data-popup="diseno">Ver más</button>
                            </div>
                        </li>
                        <li class="col-md-3">
                            <h4>ESTRATEGIA DIGITAL</h4>
                            <div class="service-description">
                                <ul>
                                    <li>Posicionamiento SEO</li>
                                    <li>Email Marketing</li>
                                    <li>Comunicación interna</li>
                                    <li>Automatización de procesos</li>
                                    <li>Análisis de datos</li>
                                </ul>
                            </div>
                            <div class="text-center">
                                <button class="popup-btn" data-popup="estrategia">Ver más</button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    
    <!-- ***** Services Area End ***** -->

    <!-- Team -->
	<section class="team">
            <header>
              <h2>EL EQUIPO</h2>
            </header> 
            <div class="team-container">
              <div class="team-member">
               <div class="team-image">
                 <img src="assets/images/juli.jpg" alt="Julieta Erdozain Hoffman">
               </div>
              <p>Julieta Erdozain Hoffman</p>
              <p class="team-role">Founder & Director</p>
            </div>
           <div class="team-member">
             <div class="team-image">
              <img src="assets/images/flor.jpg" alt="Florencia CarrascoBelén Ruiz Jelenic">
            </div>
           <p>Florencia Carrasco</p>
           <p class="team-role">Brand Designer</p>
            </div>
            <div class="team-member">
                <div class="team-image">
                 <img src="assets/images/belu.jpg" alt="Belén Ruiz Jelenic">
               </div>
              <p>Belén Ruiz Jelenic</p>
              <p class="team-role">Project Leader</p>
               </div>
               <div class="team-member">
                <div class="team-image">
                 <img src="assets/images/fer.jpg" alt="Fernando Birman">
               </div>
              <p>Fernando Birman</p>
              <p class="team-role">Data Leader</p>
               </div>   
         </div>
    </section>

     <!-- ***** Blog Start ***** -->
     <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="blog-title">
                        <h2>Blog</h2>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-01.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Stories: autenticidad para conectar</a>
                            </h3>
                            <div class="text">
                                Descubre por qué las stories más efectivas no son las más pulidas, sino las 
                                más genuinas.
                            </div>
                            <a href="#" class="main-button">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-02.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">¿La AI puede reemplazarnos en diseño gráfico?</a>
                            </h3>
                            <div class="text"> 
                                Analizamos el equilibrio entre eficiencia y originalidad.
                            </div>
                            <a href="#" class="main-button">Leer más</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-03.jpg" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">10 Estrategias para mejorar tu Canal de YouTube</a>
                            </h3>
                            <div class="text">
                                Descubre cómo ajustar tu contenido, mejorar el SEO y 
                                aumentar el engagement en tu canal.
                            </div>
                            <a href="#" class="main-button">Leer más</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->


<!--    <div class="separador"></div> -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <!-- Fila para el Copyright -->
            <div class="row">
                <div class="col-12 text-center">
                    <p class="copyright"><b>Hablemos!</b><br><a href="https://wa.me/34627907956" target="_blank">+34 627 90 79 56</a><br>hola@werkenagencia.com</p>
                </div>
            </div>
            <!-- Fila para los otros elementos -->
            <div class="row d-flex justify-content-between align-items-end">
                <div class="col-6 text-left">
                    <p class="left">&copy; 2025 WERKEN<br>BARCELONA</p>
                </div>
                <div class="col-6 text-right">
                    <p class="right">
                        <a href="https://www.instagram.com/werkenagencia" target="_blank">INSTAGRAM</a><br>
                        <a href="https://www.linkedin.com/company/werkenagencia" target="_blank">LINKEDIN</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
    
    
    <!-- ***** Footer End ***** --> 

    <script>
        window.addEventListener('scroll', function() {
          const scrollPosition = window.pageYOffset;
          const welcomeArea = document.querySelector('.welcome-area');
          
          // Ajusta el valor del desplazamiento para cambiar la velocidad del parallax
          welcomeArea.style.backgroundPosition = 'center ' + (scrollPosition * 0.3) + 'px';
        });
      </script>

    <script>
        document.addEventListener("scroll", function () {
    let header = document.querySelector(".welcome-area");
    let logo = document.querySelector(".logo");
    
    // Detecta el desplazamiento y oculta el logo cuando se sale de la sección header
    if (window.scrollY > header.offsetHeight) {
        logo.classList.add("logo-hidden");
    } else {
        logo.classList.remove("logo-hidden");
    }
       });
    </script>

    <!-- ***** Scripts Originales ***** -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/parallax.js"></script>
    <script src="assets/js/popup.js"></script>
    <script src="assets/js/dynamictext.js"></script>
</body>

</html>