<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,500,700,900" rel="stylesheet">

    <title>Agencia de Marketing Digital en Barcelona y Madrid - Werken</title>
<!--
SOFTY PINKO
https://templatemo.com/tm-535-softy-pinko
-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="assets/css/font-awesome.css">

    <link rel="stylesheet" href="assets/css/templatemo-softy-pinko.css">

    <link rel="stylesheet" href="assets/css/services.css">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="#" class="logo">
                            <img src="assets/images/logo.png"/>
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li><a href="#welcome" class="active">HOME</a></li>
                            <li><a href="#features">NOSOTRAS</a></li>
                            <li><a href="#work-process">ASÍ TRABAJAMOS</a></li>
                            <li><a href="#testimonials">OPINIONES</a></li>
                            <li><a href="#pricing-plans">SERVICIOS</a></li>
                            <li><a href="#blog">PORTFOLIO</a></li>
                            <li><a href="#contact-us">CONTACTO</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Welcome Area Start ***** -->
    <div class="welcome-area" id="welcome">

        <!-- ***** Header Text Start ***** -->
        <div class="header-text">
            <div class="container">
                <div class="row">
                    <div class="offset-xl-3 col-xl-6 offset-lg-2 col-lg-8 col-md-12 col-sm-12">
                        <h1>HAY MIL FORMAS DE <strong>COMUNICAR,</strong><br> ENCONTRAMOS <strong>LA TUYA.</strong></h1>
                        <p>Somos una agencia de marketing digital orientada a resultados.
                        Como profesionales de la comunicación, diseñamos estrategias
                          personalizadas para impulsar tu marca y mejorar su presencia digital.</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** Header Text End ***** -->
    </div>
    <!-- ***** Welcome Area End ***** -->

      <!-- ***** Services Start ***** -->

      <div class="services-container">
  <h2>NUESTROS SERVICIOS</h2>
  <div class="services-grid">
    <div class="service-item">
      <h3>Publicidad en Redes Sociales</h3>
      <p>Desde Facebook, Instagram, LinkedIn, TikTok.</p>
      <span class="arrow">→</span>
    </div>
    <div class="service-item">
      <h3>SEO</h3>
      <p>¿Quieres mejorar el posicionamiento orgánico de tu sitio web?</p>
      <span class="arrow">→</span>
    </div>
    <div class="service-item">
      <h3>Email Marketing</h3>
      <p>Mejora tus resultados online con campañas personalizadas.</p>
      <span class="arrow">→</span>
    </div>
    <div class="service-item">
      <h3>Publicidad en Display</h3>
      <p>Llega a audiencias específicas con estrategias visuales.</p>
      <span class="arrow">→</span>
    </div>
    <div class="service-item">
      <h3>Optimización de Conversión</h3>
      <p>Convierte visitantes en clientes con mejoras en tu sitio.</p>
      <span class="arrow">→</span>
    </div>
    <div class="service-item">
      <h3>Social Media</h3>
      <p>Renueva el contenido en Facebook, Instagram, Linkedin.</p>
      <span class="arrow">→</span>
    </div>
  </div>
</div>
       <!-- ***** Services End ***** -->
      
    <!-- ***** Testimonials Start ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>Desde el primer momento, se dedicaron a entender nuestras necesidades. Lo que más valoro es la combinación de creatividad, sentido común y cuidado humano en cada detalle.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">
                              </div>
                          <div class="team-info">
                                <h3 class="user-name">Catherine Soft</h3>
                                <span>Managing Director</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>¡Se sienten como una extensión de nuestro equipo! Comprendieron a la perfección nuestra visión y el trato cercano que aportan hace que cada proyecto sea un verdadero placer.</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">  
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">Kelvin Wood</h3>
                                <span>Digital Marketer</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
                
                <!-- ***** Testimonials Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="team-item">
                        <div class="team-content">
                            <i><img src="assets/images/testimonial-icon.png" alt=""></i>
                            <p>Nuestra comunicación y presencia online han mejorado significativamente. El proceso de trabajo fue fluido y claro. ¡Gracias Juli y Anto por su compromiso con nuestro éxito!</p>
                            <div class="user-image">
                                <img src="http://placehold.it/60x60" alt="">  
                            </div>
                            <div class="team-info">
                                <h3 class="user-name">David Martin</h3>
                                <span>Website Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Testimonials Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Testimonials End ***** -->

    <!-- ***** Pricing Plans Start ***** -->
    <section class="section colored" id="pricing-plans">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
              <div class="col-lg-12">
                  <div class="center-heading">
                      <h2 class="section-title">SERVICIOS</h2>
                  </div>
              </div>
              <div class="offset-lg-3 col-lg-6">
                <div class="center-text">
                      <p>Buscamos en equipo qué necesita tu negocio ahora.</p>
                  </div>
              </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Services Start ***** -->
               <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.2s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">MARKETING DIGITAL</span>
                            </div>
                            <ul class="list">
                                <li class="active">Gestión de Redes Sociales</li>
                                <li class="active">Social Media Ads</li>
                                <li class="active">Publicidad online (SEM)</li>
                                <li class="active">Email Marketing</li>
                                <li class="active">Content Marketing</li>
                                <li class="active">Optimización SEO</li>
                                <li class="active">Influencer Marketing</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">SABER MÁS</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.4s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="price">BRANDING Y DESARROLLO WEB</span>
                            </div>
                            <ul class="list">
                                <li class="active">Identidad visual</li>
                                <li class="active">Manual de marca</li>
                                <li class="active">Desarrollo Página Web</li>
                               <li class="active">Optimización Web</li>
                                <li class="active">Branding</li>
                                <li class="active">Diseño Gráfico</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">SABER MÁS</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->

                <!-- ***** Pricing Item Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12" data-scroll-reveal="enter bottom move 50px over 0.6s after 0.6s">
                    <div class="pricing-item active">
                        <div class="pricing-header">
                        </div>
                        <div class="pricing-body">
                            <div class="price-wrapper">
                                <span class="currency">$</span>
                                <span class="price">42.00</span>
                            </div>
                            <ul class="list">
                                <li class="active">250 GB space</li>
                                <li class="active">5000 GB transfer</li>
                                <li class="active">Pro Design Panel</li>
                                <li class="active">15-minute support</li>
                                <li class="active">Unlimited Emails</li>
                                <li class="active">24/7 Security</li>
                            </ul>
                        </div>
                        <div class="pricing-footer">
                            <a href="#" class="main-button">SABER MÁS</a>
                        </div>
                    </div>
                </div>
                <!-- ***** Pricing Item End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Pricing Plans End ***** -->

    <!-- ***** Blog Start ***** -->
    <section class="section" id="blog">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">PORTFOLIO</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                        <p>Integer molestie aliquam gravida. Nullam nec arcu finibus, imperdiet nulla vitae, placerat nibh. Cras maximus venenatis molestie.</p>
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-01.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Vivamus ac vehicula dui</a>
                            </h3>
                            <div class="text">
                               Cras aliquet ligula dui, vitae fermentum velit tincidunt id. Praesent eu finibus nunc. Nulla in sagittis eros. Aliquam egestas augue.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-02.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Phasellus convallis augue</a>
                            </h3>
                            <div class="text">
                                Aliquam commodo ornare nisl, et scelerisque nisl dignissim ac. Vestibulum finibus urna ut velit venenatis, vel ultrices sapien mattis.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="blog-post-thumb">
                        <div class="img">
                            <img src="assets/images/blog-item-03.png" alt="">
                        </div>
                        <div class="blog-content">
                            <h3>
                                <a href="#">Nam gravida purus non</a>
                            </h3>
                            <div class="text">
                                Maecenas eu erat vitae dui convallis consequat vel gravida nulla. Vestibulum finibus euismod odio, ut tempus enim varius eu.
                            </div>
                            <a href="#" class="main-button">Read More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Blog End ***** -->

    <!-- ***** Contact Us Start ***** -->
    <section class="section colored" id="contact-us">
        <div class="container">
            <!-- ***** Section Title Start ***** -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="center-heading">
                        <h2 class="section-title">¿CÓMO PODEMOS AYUDARTE?</h2>
                    </div>
                </div>
                <div class="offset-lg-3 col-lg-6">
                    <div class="center-text">
                    </div>
                </div>
            </div>
            <!-- ***** Section Title End ***** -->

            <div class="row">
                <!-- ***** Contact Text Start ***** -->
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h5 class="margin-bottom-30">Info de contacto</h5>
                    <div class="contact-text">
                        <p><b>Teléfono</b> (+34) 627 90 79 56
                        <br><b>E-Mail</b> info@werkenagencia.com
                        <br>&#x1F4CD; Barcelona y Madrid</p>
                    </div>
                </div>
                <!-- ***** Contact Text End ***** -->

                <!-- ***** Contact Form Start ***** -->
                <div class="col-lg-8 col-md-6 col-sm-12">
                    <div class="contact-form">
                        <form id="contact" action="" method="get">
                          <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" class="form-control" id="name" placeholder="Full Name" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                              <fieldset>
                                <input name="email" type="email" class="form-control" id="email" placeholder="E-Mail Address" required="">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Enviar mensaje</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>
                    </div>
                </div>
                <!-- ***** Contact Form End ***** -->
            </div>
        </div>
    </section>
    <!-- ***** Contact Us End ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <ul class="social">
                        <li><a href="https://facebook.com/werkenagencia"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://x.werkenagencia"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/werkenagencia"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/degiraa"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="copyright">Copyright &copy; 2024 Werken Agencia</p>
                </div>
            </div>
        </div>
    </footer>
    
    <!-- jQuery -->
    <script src="assets/js/jquery-2.1.0.min.js"></script>

    <!-- Bootstrap -->
    <script src="assets/js/popper.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="assets/js/scrollreveal.min.js"></script>
    <script src="assets/js/waypoints.min.js"></script>
    <script src="assets/js/jquery.counterup.min.js"></script>
    <script src="assets/js/imgfix.min.js"></script> 
    
    <!-- Global Init -->
    <script src="assets/js/custom.js"></script>

  </body>
</html>
