.workflow-container {
  text-align: center;
  margin: 50px;
}

.workflow-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 40px;
  color: #333;
}

.circle {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.workflow-step {
  background-color: #4c63f2;
  color: #fff;
  width: 140px;  /* Aumentamos el tamaño */
  height: 140px; /* Aumentamos el tamaño */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Animación suave */
  overflow: hidden; /* Ocultar texto que sobresalga */
  padding: 10px; /* Espacio adicional para el texto */
}

.workflow-step span {
  font-size: 28px;
  font-weight: 700;
}

.workflow-step p {
  font-size: 14px;
  line-height: 20px;
  margin-top: 5px;
  word-wrap: break-word; /* Ajustar palabras largas 
}

/* Efecto hover: crece el círculo */
.workflow-step:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15); /* Sombra más intensa */
}
